mat-icon {
    margin-right: 0.5rem;
}

.logo {
    color: white;
    text-decoration: none;


    span {
        line-height: 36px;
        font-size: larger;
        // vertical-align: text-top;
    }

    mat-icon {
        transform: scale(1.5, 1.5) translate(0, 2px);
    }
}

.user {
    border: none;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0);
    cursor: pointer;
    position: absolute;
    right: 2em;

    mat-icon {
        position: relative;
        left: 50%;
        height: 50%;
        transform: scale(2, 2) translate(-25%, 2px);
    }
}

.nick {
    // background-color: white;
    width: 200px;
    position: absolute;
    right: 4.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;

    @media (max-width:640px) {
        display: none;
    }

}