<form action="loginForm">
    <mat-icon>assignment_returned</mat-icon>

    <h1>Sign up</h1>
    <div class="customInput">
        <input type="email" name="femail" />
        <label for="femail">Email Address</label>
    </div>
    <div class="customInput">
        <input type="password" name="fpass" />
        <label for="fpass">Password</label>
    </div>
    <div class="customInput">
        <input type="password" name="fConfPass" />
        <label for="fConfPass">Confirm password</label>
    </div>
    <input type="button" value="SIGN UP">
    <a href="/Login">Already have an account? Log in</a>
</form>